<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Evento</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Editar Evento</h1>
    
    <form method="post" action="{% url 'editar_evento' evento.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>

    <form method="post" action="{% url 'excluir_evento' evento.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este evento?');">Excluir Evento</button>
    </form>

    <a href="{% url 'home' %}">Voltar</a>
</body>
</html>
