<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Cultural</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>

<body>
    <header>
        <div class="tittle">
            <h1>Agenda Cultural</h1>
        </div>

        <ul>
            <a href="{% url 'criar_evento' %}">
                <li>Criar Evento</li>
            </a>
        </ul>
    </header>

    <main>
        <aside>
            <h2>Descubra os próximos eventos</h2>
            <h4>Explore uma ampla gama de eventos emocionantes 
                acontecendo em sua área e em todo o mundo</h4>

                <a href="#eventos" class="button">Próximos eventos</a>
        </aside>
        


        <article>
            <img src="{% static 'images/image2.png' %}" alt="placeholder">
        </article>
    </main>

    <section id="eventos">
        <div class="events">
            <button>Próximos eventos</button>
            <h1>Não Perca</h1>  
            <h4>Confira os últimos eventos acontecendo em sua área e ao redor do mundo.</h4>
        </div>

        <div class="card-container">
            {% for evento in eventos %}
            <div class="card">
                <div class="event-info">
                    <h2>{{ evento.nome }}</h2>
                    <p>{{ evento.descricao }}</p>
                </div>
                <div class="card-footer">
                    <span>{{ evento.local }}</span>
                    <a href="{% url 'editar_evento' evento.id %}">Editar Evento</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</body>
</html>